.title-center {
    text-align: center;
    margin-top: 20px;
}

.spacer {
    margin-top: 25px;
}


/* .validate-btn-container {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
} */
