.card-center {
    text-align: center;
}

.card-container-layout {
    min-height: 250px;
    border-radius: 32px;
    max-width: 280px;
    margin: auto;
    background-color: rgba(107, 141, 228, 0.23);
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-container-layout:hover {
    box-shadow: rgba(0, 0, 0, 0.42) 0px 12px 24px 3px;
}

@media (max-width: 767.98px) {
    .card-container-layout {
        margin-top: 25px;
    }
}
