.nav-bar-container {
    display: flex;
    justify-content: space-between;
}

.icon {
    max-width: 40px;
    max-height: 40px;
}

.icon-round-background {
    background-color: white;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
}

.pointer {
    cursor: pointer;
}