.row-margin {
    margin-top: 2.5rem;
}

.card-container {
    min-height: 250px;
    border-radius: 32px;
    max-width: 1200px;
    margin: auto;
    background-color: rgba(107, 141, 228, 0.23);
}

.card-center {
    text-align: center;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
